<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Create PDF</title>
    <link rel="stylesheet" type="text/css" href="/static/index_style.css">
    <script type="text/javascript" src="/static/index_style.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>

<body>
    <header>
        <a href="#" class="btn-abrir" onclick="abrirMenu()">&#9776;Open</a>
    </header>
    <nav id="menu">
        <a href="#"onclick='fechaMenu()'>&times;Close</a>
        <a href="/">Register Client</a>
        <a href="#">Consult Data</a>
        <a href="#">Downloads</a>
        <a href="#">Creator</a>

    </nav>

     <div class="container-sm">
            <main id="conteudo">   
            <h1>Register Client</h1>
            <hr>

            {% set mensagens = get_flashed_messages() %}
                    {% if mensagens %}
                        <div class="alert alert-danger" role="alert">
                            {% for msg in mensagens %}
                                {{ msg }}
                            {% endfor %}   
                        </div>
                    {% endif %}    

                    
            <form class="row g-3" action="cadastrar" method="POST">

              <div class="col-md-2">
                <input type="number" required="required" step="1" min="1" class="form-control" placeholder="Código" name="codigo" id="codigo">
              </div>

              <div class="col-md-10">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$" class="form-control"  placeholder="Nome" name="nome" id="nome">
              </div>

              <div class="col-md-10">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$"  class="form-control" placeholder="Endereço" name="endereço" id="endereço">
              </div>

              
              <div class="col-md-2">
                <input type="number" required="required" step="1" min="1" class="form-control" placeholder="Número" name="numero" id="numero">
              </div>
              
              <div class="col-md-2">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$"  class="form-control" placeholder="Complemento" name="complemento" id="complemento">
              </div>

              <div class="col-md-2">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$"  class="form-control" placeholder="Bairro" name="bairro" id="bairro">
              </div>

              <div class="col-md-2">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$"  class="form-control" placeholder="Cidade" name="cidade" id="cidade">
              </div>

              <div class="col-md-2">
                <input type="text" required="required" pattern="[a-zA-Z\s]+$"  class="form-control" placeholder="Estado Ex: SP" name="estado" id="estado">
              </div>

              <div class="col-md-2">
                <input type="number" required="required" step="1" min="1" class="form-control" placeholder="CEP" name="CEP" id="CEP">
              </div>
            
            
              <button type="submit" class="btn btn-primary">Cadrastrar</button>
              
              <a href="/static/pdf/site_teste6.pdf" download="teste.pdf" class="btn btn-primary">Download pdf</a>
            </form>

            <hr>
            <h1>Register Client</h1>
            <table class="table">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Número</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Deletar</th>
                    <th scope="col">Atualizar</th>
                    
                </tr>
                {% for item in result %}
                <tr>
                    <td>{{item.codigo}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.endereço}}</td>
                    <td>{{item.numero}}</td>
                    <td>{{item.complemento}}</td>
                    <td>{{item.bairro}}</td>
                    <td>{{item.cidade}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{item.CEP}}</td>
                    <td ><a class="btn btn-danger" href="/deletar/{{item['codigo']}}">Deletar</a></td>
                    <td><a class="btn btn-success" href="/atualizar/{{item['codigo']}}">Atualizar</a></td>
                </tr>
                {% endfor %} 
            </table>
        </div>
     </main>
</body>
</html>
